{% extends 'base.html.twig' %}

{% block title %}Bons{% endblock %}

{% block body %}
    <h1>Bons</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bon.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ bon.code }}</td>
            </tr>
            <tr>
                <th>Date_deb</th>
                <td>{{ bon.DateDeb ? bon.DateDeb|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_fin</th>
                <td>{{ bon.dateFin ? bon.dateFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_bons_index') }}">back to list</a>

    <a href="{{ path('app_bons_edit', {'id': bon.id}) }}">edit</a>

    {{ include('bons/_delete_form.html.twig') }}
{% endblock %}
