{% extends 'home/quiz.html.twig' %}

{% block body %}
<div class="col-xl-9 col-lg-9 col-md-12">
    <div class="dashboard__content__wraper">
        <div class="dashboard__section__title">
            <h4></h4>
        </div>
        
        <div class="row">
            <div class="col-xl-12 aos-init aos-animate" data-aos="fade-up">
                <ul class="nav about__button__wrap dashboard__button__wrap" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="single__tab__link active" data-bs-toggle="tab"
                            data-bs-target="#projects__one" type="button" aria-selected="true"
                            role="tab">Ajouter Question</button>
                    </li>
                </ul>
            </div>

            <div class="tab-content tab__content__wrapper aos-init aos-animate" id="myTabContent" data-aos="fade-up">
                <div class="tab-pane fade active show" id="projects__one" role="tabpanel">
                    <div class="row">
                        <div class="col-xl-12">
                            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="dashboard__form__wraper">
                                        <div class="dashboard__form__input">
                                            <label>{{ form_label(form.title) }}</label>
                                            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                                            <div class="invalid-feedback d-block text-danger">  
                                                {{ form_errors(form.title) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-12">
                                    <div class="dashboard__form__wraper">
                                        <div class="dashboard__form__input">
                                            {{ form_row(form.options) }}
                                            <div class="invalid-feedback d-block text-danger">  
                                                {{ form_errors(form.options) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="dashboard__form__wraper">
                                        <div class="dashboard__form__input">
                                            <label>{{ form_label(form.correctAnswer) }}</label>
                                            {{ form_widget(form.correctAnswer, {'attr': {'class': 'form-control'}}) }}
                                            <div class="invalid-feedback d-block text-danger">  
                                                {{ form_errors(form.correctAnswer) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-12">
                                    <div class="dashboard__form__button">
                                        <button type="submit" class="default__button">Ajouter</button>
                                    </div>
                                </div>
                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
