

<!doctype html>
<html class="no-js" lang="zxx">


<!-- Mirrored from html.themewin.com/edurock-preview/edurock/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Feb 2025 20:26:50 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Contact | Edurock - Education LMS Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Place favicon.ico in the root directory -->

    <!-- SS here -->    
     <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/aos.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('css/icofont.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('css/swiper-bundle.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.getItem("theme-color") === "dark" || (!("theme-color" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
          document.documentElement.classList.add("is_dark");
        } 
        if (localStorage.getItem("theme-color") === "light") {
          document.documentElement.classList.remove("is_dark");
        } 
    </script>

</head>


<body class="body__wrapper">
    

    <!-- Dark/Light area start -->
    <div class="mode_switcher my_switcher">
        <button id="light--to-dark-button" class="light align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon dark__mode" viewBox="0 0 512 512"><path d="M160 136c0-30.62 4.51-61.61 16-88C99.57 81.27 48 159.32 48 248c0 119.29 96.71 216 216 216 88.68 0 166.73-51.57 200-128-26.39 11.49-57.38 16-88 16-119.29 0-216-96.71-216-216z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>

            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon light__mode" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M256 48v48M256 416v48M403.08 108.92l-33.94 33.94M142.86 369.14l-33.94 33.94M464 256h-48M96 256H48M403.08 403.08l-33.94-33.94M142.86 142.86l-33.94-33.94"/><circle cx="256" cy="256" r="80" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32"/></svg>

            <span class="light__mode">Light</span>
            <span class="dark__mode">Dark</span>
        </button>
    </div>
    <!-- Dark/Light area end -->

    <main class="main_wrapper overflow-hidden">




        <!-- contact__form__start -->
        <div class="contact__from__wraper sp_bottom_100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="contact__form__inner">
                            <div class="contact__form__heading" data-aos="fade-up">
                                <h3>Feedbacks</h3>
                                <p>Les champs obligatoires sont marqués * </p>
                            </div>

                             
 
    {{ form_start(form) }} 
    <div class="row">  

        <div class="col-xl-6" data-aos="fade-up">  
            <div class="contact__input__wraper">  
                {{ form_label(form.nom) }} <!-- Ajout du label -->  
                {{ form_widget(form.nom) }}  
                <div class="contact__icon">  
                    <i class="icofont-businessman"></i>  
                </div>  
            </div>  
        </div>  

        <div class="col-xl-6" data-aos="fade-up">  
            <div class="contact__input__wraper">  
                {{ form_label(form.prenom) }} <!-- Ajout du label -->  
                {{ form_widget(form.prenom) }}                                          
                <div class="contact__icon">  
                    <i class="icofont-businessman"></i>  
                </div>  
            </div>  
        </div>  

        <div class="col-xl-6" data-aos="fade-up">  
            <div class="contact__input__wraper">  
                {{ form_label(form.mail) }} <!-- Ajout du label -->  
                {{ form_widget(form.mail) }}                                         
                <div class="contact__icon">  
                    <i class="icofont-envelope"></i>  
                </div>  
            </div>  
        </div>  

        <div class="col-xl-6" data-aos="fade-up">  
            <div class="contact__input__wraper">  
                {{ form_label(form.note) }} <!-- Ajout du label -->  
                {{ form_widget(form.note) }}  
                <div class="contact__icon">  
                    <i class="icofont-star"></i>   
                </div>  
            </div>  
        </div>  

            <div class="col-xl-6" data-aos="fade-up">  
                <div class="contact__input__wraper">  
                    {{ form_label(form.experience_level) }} <!-- Ajout du label -->  
                    {{ form_widget(form.experience_level) }}  
                    <div class="contact__icon">  
                        <i class="icofont-star"></i>  
                    </div>  
                </div>  
            </div>  

            <div class="col-xl-6" data-aos="fade-up">  
                <div class="contact__input__wraper">  
                    {{ form_label(form.recommend_platform) }} <!-- Ajout du label -->  
                    {{ form_widget(form.recommend_platform) }}  
                    <div class="contact__icon">  
                        <i class="icofont-thumbs-up"></i>  
                    </div>  
                </div>  
            </div>  

            <div class="col-xl-6" data-aos="fade-up">  
                <div class="contact__input__wraper">  
                    {{ form_label(form.usage_frequency) }} <!-- Ajout du label -->  
                    {{ form_widget(form.usage_frequency) }}  
                    <div class="contact__icon">  
                        <i class="icofont-clock-time"></i>  
                    </div>  
                </div>  
            </div>  

        <div class="col-xl-12" data-aos="fade-up">  
            <div class="contact__input__wraper">  
                {{ form_label(form.avis1) }} <!-- Ajout du label -->  
                {{ form_widget(form.avis1) }}  
                <div class="contact__icon">  
                    <i class="icofont-book"></i>  
                </div>  
            </div>  
        </div>  

        <div class="col-xl-12" data-aos="fade-up">  
            <div class="contact__input__wraper">  
                {{ form_label(form.avis2) }} <!-- Ajout du label -->  
                {{ form_widget(form.avis2) }}  
                <div class="contact__icon">  
                    <i class="icofont-book"></i>  
                </div>  
            </div>  
        </div>  

        <div class="col-xl-12" data-aos="fade-up">  
            <div class="contact__input__wraper">  
                {{ form_label(form.avis3) }} <!-- Ajout du label -->  
                {{ form_widget(form.avis3) }}  
                <div class="contact__icon">  
                    <i class="icofont-money"></i>  
                </div>  
            </div>  
        </div>  

        <div class="col-xl-12" data-aos="fade-up">  
            <div class="contact__input__wraper">  
                {{ form_label(form.avis4) }} <!-- Ajout du label -->  
                {{ form_widget(form.avis4) }}  
                <div class="contact__icon">  
                    <i class="icofont-money"></i>  
                </div>  
            </div>  
        </div>  

        <div class="col-xl-12" data-aos="fade-up">  
            <div class="contact__input__wraper">  
                {{ form_label(form.avis5) }} <!-- Ajout du label -->  
                {{ form_widget(form.avis5) }}  
                <div class="contact__icon">  
                    <i class="icofont-comment"></i>  
                </div>  
            </div>  
        </div>   

        

        <div class="col-xl-12" data-aos="fade-up">  
            <div class="contact__button">  
            <button type="submit" value="submit" class="default__button" name="submit">Enregistrer votre feedback </button>
                <p class="form-messege"></p>  
            </div>  
        </div>  
        {% if form.vars.errors|length > 0 %}  
            <div class="col-xl-12" data-aos="fade-up">  
                <div class="alert alert-danger">  
                    <ul>  
                        {% for error in form.vars.errors %}  
                            <li>{{ error.message }}</li>  
                        {% endfor %}  
                    </ul>  
                </div>  
            </div>  
        {% endif %}
    </div>  

{{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- contact__form__end-->
        



        
        <!-- footer__section__end -->


    </main>



    <!-- JS here -->
    <script src="{{ asset('js/vendor/modernizr-3.5.0.min.js') }}"></script>
    <script src="{{ asset('js/vendor/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('js/slick.min.js') }}"></script>
    <script src="{{ asset('js/jquery.meanmenu.min.js') }}"></script>
    <script src="{{ asset('js/ajax-form.js') }}"></script>
    <script src="{{ asset('js/wow.min.js') }}"></script>
    <script src="{{ asset('js/jquery.scrollUp.min.js') }}"></script>
    <script src="{{ asset('js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('js/waypoints.min.js') }}"></script>
    <script src="{{ asset('js/jquery.counterup.min.js') }}"></script>
    <script src="{{ asset('js/plugins.js') }}"></script>
    <script src="{{ asset('js/swiper-bundle.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>


</body>


<!-- Mirrored from html.themewin.com/edurock-preview/edurock/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Feb 2025 20:26:50 GMT -->
</html>
