{% extends 'home/quiz.html.twig' %}
{% block body %}
<div class="col-xl-9 col-lg-9 col-md-12">
    <div class="dashboard_content_wraper">
        <div class="dashboard_section_title">
            <h4>My Profile</h4>
        </div>
        <div class="row">
            <div class="col-xl-12 aos-init aos-animate" data-aos="fade-up">
               <ul class="nav about_buttonwrap dashboardbutton_wrap" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a href="{{ path('app_profile') }}" class="default__button me-2">Profile</a>
    </li>
  <li class="nav-item" role="presentation">
    <a href="{{ path('app_change_password') }}" class="default__button me-2">Password</a>
</li>

    <li class="nav-item" role="presentation">
        <button class="default__button" data-bs-toggle="tab" data-bs-target="#projects__three" type="button" aria-selected="false" role="tab">Social Icon</button>
    </li>
</ul>
            </div>

            <div class="tab-content tab_content_wrapper aos-init aos-animate" id="myTabContent" data-aos="fade-up">
                <!-- Profile Tab -->
                <div class="tab-pane fade active show" id="projects__one" role="tabpanel" aria-labelledby="projects__one">
                    <div class="row">
                        <div class="col-xl-12">
         

    {{ form_start(form) }}
        {{ form_row(form.currentPassword) }}
        {{ form_row(form.newPassword.first) }}
        {{ form_row(form.newPassword.second) }}
        <div class="dashboard_form_button mt-3">
            <button type="submit" class="default__button">Changer mot de passe</button>
        </div>
    </div>
    {{ form_end(form) }}

      <div class="col-xl-12">
                                

    <a href="{{ path('app_profile') }}">Retour au profil</a>
                        </div>
                    </div>
                </div>

                <!-- Social Icon Tab -->
                <div class="tab-pane fade" id="projects__three" role="tabpanel" aria-labelledby="projects__three">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="dashboard_form_wraper">
                                <div class="dashboard_form_input">
                                    <label>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook">
                                            <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                                        </svg>
                                        Facebook
                                    </label>
                                    <input type="text" class="form-control" placeholder="https://facebook.com/">
                                </div>
                            </div>
                        </div>

                        <!-- Repeat for other social icons (Twitter, LinkedIn, etc.) -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
