<!doctype html>
<html class="no-js" lang="zxx">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Product-Details | Edurock - Education LMS Template</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico">
      <!-- Place favicon.ico in the root directory -->
      <!-- CSS here -->
      <link rel="stylesheet" href="../css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/animate.min.css">
      <link rel="stylesheet" href="../css/aos.min.css">
      <link rel="stylesheet" href="../css/magnific-popup.css">
      <link rel="stylesheet" href="../css/icofont.min.css">
      <link rel="stylesheet" href="../css/slick.css">
      <link rel="stylesheet" href="../css/swiper-bundle.min.css">
      <link rel="stylesheet" href="../css/style.css">
      <script>
         // On page load or when changing themes, best to add inline in `head` to avoid FOUC
         if (localStorage.getItem("theme-color") === "dark" || (!("theme-color" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
           document.documentElement.classList.add("is_dark");
         } 
         if (localStorage.getItem("theme-color") === "light") {
           document.documentElement.classList.remove("is_dark");
         } 
      </script>
   </head>
   <body class="body__wrapper">
      <!-- pre loader area start -->
      <div id="back__preloader">
         <div id="back__circle_loader"></div>
         <div class="back__loader_logo">
            <img loading="lazy"  src="../img/pre.png" alt="Preload">
         </div>
      </div>
      <!-- pre loader area end -->
      <!-- Dark/Light area start -->
      <div class="mode_switcher my_switcher">
         <button id="light--to-dark-button" class="light align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon dark__mode" viewBox="0 0 512 512">
               <path d="M160 136c0-30.62 4.51-61.61 16-88C99.57 81.27 48 159.32 48 248c0 119.29 96.71 216 216 216 88.68 0 166.73-51.57 200-128-26.39 11.49-57.38 16-88 16-119.29 0-216-96.71-216-216z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon light__mode" viewBox="0 0 512 512">
               <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M256 48v48M256 416v48M403.08 108.92l-33.94 33.94M142.86 369.14l-33.94 33.94M464 256h-48M96 256H48M403.08 403.08l-33.94-33.94M142.86 142.86l-33.94-33.94"/>
               <circle cx="256" cy="256" r="80" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32"/>
            </svg>
            <span class="light__mode">Light</span>
            <span class="dark__mode">Dark</span>
         </button>
      </div>
      <!-- Dark/Light area end -->
      <main class="main_wrapper overflow-hidden">

         <div>
            <div class="theme__shadow__circle"></div>
            <div class="theme__shadow__circle shadow__right"></div>
         </div>
         <!-- theme fixed shadow -->
         <!-- breadcrumbarea__section__start -->
         <div class="breadcrumbarea">
            <div class="container">
               <div class="row">
                  <div class="col-xl-12">
                     <div class="breadcrumb__content__wraper" data-aos="fade-up">
                        <div class="breadcrumb__title">
                           <h2 class="heading">Ajout de Matière</h2>
                        </div>
                        <div class="breadcrumb__inner">
                           <ul>
                              <li><a href="index.html">Home</a></li>
                              <li>Ajout de Matière</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="shape__icon__2">
               <img loading="lazy"  class=" shape__icon__img shape__icon__img__1" src="../img/herobanner/herobanner__1.png" alt="photo">
               <img loading="lazy"  class=" shape__icon__img shape__icon__img__2" src="../img/herobanner/herobanner__2.png" alt="photo">
               <img loading="lazy"  class=" shape__icon__img shape__icon__img__3" src="../img/herobanner/herobanner__3.png" alt="photo">
               <img loading="lazy"  class=" shape__icon__img shape__icon__img__4" src="../img/herobanner/herobanner__5.png" alt="photo">
            </div>
         </div>
         <!-- breadcrumbarea__section__end-->
         <div class="create__course sp_100">
            <div class="container d-flex justify-content-center">
               <div class="row w-100 justify-content-center">
                  <div class="col-xl-8 col-lg-10 col-md-12 col-12">
                     <h2>Informations de Matière</h2>
                     <div class="course-content">
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                           {{ form_start(form) }}

                              <div class="become__instructor__form">
                              {{ form_errors(form) }}
                                 <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                       <div class="dashboard__form__wraper">
                                          <div class="dashboard__form__input">
                                             <label for="#">Nom de Matière</label>
                                             {{ form_widget(form.Nom) }}
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 
                                <div class="form-group">
    <label class="fw-bold">Niveau</label>
    <div class="row">
        {% for niveau in form.Niveau %}
            <div class="col-md-4">
                <div class="form-check">
                    {{ form_widget(niveau, {'attr': {'class': 'form-check-input'}}) }}
                    <label class="form-check-label">
                        {{ niveau.vars.label }}
                    </label>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

                                
                                    

                                 <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-8">
                                       <div class="create__course__bottom__button">
                                             <a href="app_cours_index" class="btn">  
                                             <button class="btn" >{{ button_label|default('Enregistrer') }} </button>
                                       </div>
                                    </div>
                                 </div>
                             

                              {{ form_end(form) }}

                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- become__instructor__end -->
         <!-- footer__section__start -->
         
         <!-- footer__section__end -->
      </main>
      <!-- JS here -->
      <script src="../js/vendor/modernizr-3.5.0.min.js"></script>
      <script src="../js/vendor/jquery-3.6.0.min.js"></script>
      <script src="../js/popper.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/isotope.pkgd.min.js"></script>
      <script src="../js/slick.min.js"></script>
      <script src="../js/jquery.meanmenu.min.js"></script>
      <script src="../js/ajax-form.js"></script>
      <script src="../js/wow.min.js"></script>
      <script src="../js/jquery.scrollUp.min.js"></script>
      <script src="../js/imagesloaded.pkgd.min.js"></script>
      <script src="../js/jquery.magnific-popup.min.js"></script>
      <script src="../js/waypoints.min.js"></script>
      <script src="../js/jquery.counterup.min.js"></script>
      <script src="../js/plugins.js"></script>
      <script src="../js/swiper-bundle.min.js"></script>
      <script src="../js/main.js"></script>
   </body>
